%li{ id: dom_id(issue), class: issue_css_classes(issue), url: issue_path(issue), data: { labels: issue.label_ids, id: issue.id } }
  .issue-box
    - if @bulk_edit
      .issue-check
        = check_box_tag dom_id(issue, "selected"), nil, false, 'data-id' => issue.id, class: "selected_issue"
    .issue-info-container
      .issue-title.title
        %span.issue-title-text
          = confidential_icon(issue)
          = link_to issue.title, issue_path(issue)
        %ul.controls
          - if issue.closed?
            %li
              已关闭

          - if issue.assignees.any?
            %li
              = render 'shared/issuable/assignees', project: @project, issue: issue

          = render 'shared/issuable_meta_data', issuable: issue

      .issue-info
        #{issuable_reference(issue)} &middot;
        opened #{time_ago_with_tooltip(issue.created_at, placement: 'bottom')}
        by #{link_to_member(@project, issue.author, avatar: false)}
        - if issue.milestone
          &nbsp;
          = link_to namespace_project_issues_path(issue.project.namespace, issue.project, milestone_title: issue.milestone.title) do
            = icon('clock-o')
            = issue.milestone.title
        - if issue.due_date
          %span{ class: "#{'cred' if issue.overdue?}" }
            &nbsp;
            = icon('calendar')
            = issue.due_date.to_s(:medium)
        - if issue.labels.any?
          &nbsp;
          - issue.labels.each do |label|
            = link_to_label(label, subject: issue.project, css_class: 'label-link')
        - if issue.tasks?
          &nbsp;
          %span.task-status
            = issue.task_status

        .pull-right.issue-updated-at
          %span 更新于 #{time_ago_with_tooltip(issue.updated_at, placement: 'bottom', html_class: 'issue_update_ago')}
